
# directories (by name)

.git-/

_build/

_internal/

TestResults/
Backup/
_UpgradeReport_Files/

bin/
obj/

doc/

images/

src/recls.Core/obsolete/

test/scratch/test.scratch.recls.ruby.stat/

# directories (by pattern)

# files (by name)

recls.100.net.nant.build
recls.100.sln
recls.NET.proj
test/test.component.recls.nunit
test/test.unit.recls.nunit

# files (by pattern)

*~
*.*~
*.nupkg
*.scc
*.suo
*.swp

*.csproj.user
*.vcproj.user
*.vcxproj.user
TestResult*.xml
UpgradeLog*.XML

