
# directories (by name)

TestResults/
_UpgradeReport_Files/

bin/
obj/

src/recls.Core/obsolete/

# directories (by pattern)

# files (by name)

Local.testsettings
TraceAndTestImpact.testsettings

# files (by pattern)

*~
*.*~
*.suo
*.swp

*.csproj.user
*.vcproj.user
*.vcxproj.user
UpgradeLog*.XML

